<nav class="p-4 text-white bg-secondary-dark">
  <div class="container flex items-center justify-between mx-auto">
    <a routerLink="/" class="font-poppins text-3xl text-gray-200"> JrStore</a>
    <div class="flex items-center">
      <a routerLink="/orders" class="mr-6 text-xl text-gray-200">Orders</a>
      <a routerLink="/products" class="mr-6 text-xl text-gray-200">Products</a>
      <div class="flex justify-between" (mouseenter)="showCart.set(true)" (mouseleave)="showCart.set(false)">
        <a routerLink="/checkout" class="text-gray-200">

          <span class="flex items-center gap-2 right-0 ml-auto text-lg font-bold -top-1 text-gray-200">
            {{cartStore.productsCount()}}
            <img src="../../../assets/svgs/cart.svg" alt="Cart" class="w-6 h-6 hover:opacity-80" />
          </span>
        </a>
        @if (showCart() && cartStore.productsCount()) {
        <div [ngClass]="{'show-cart-animation':showCart()}"
          class="absolute right-0 z-30 w-48 p-2 mt-2 text-white rounded-sm bg-slate-400">
          @for (product of cartStore.products(); track $index) {
          <div class="flex items-center justify-between">
            <span>{{product.qty}} {{product.title | slice: 0:10}} {{product.subTotal || product.price |
              currency}}</span>
          </div>
          }
          <hr class="my-4 border-gray-500 border-t-1">
          <div class="flex items-center justify-betwwen font-light">
            Total:
            <span class="not-italic font-bold">{{cartStore.totalAmount() | currency}}</span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</nav>
