<nav class="p-4 text-white bg-secondary-dark">
  <div class="container flex items-center justify-between mx-auto">
    <a routerLink="/" class="font-poppins text-3xl text-gray-200"> JrStore</a>
    <div class="flex items-center">
      <a routerLink="/orders" class="mr-6 text-xl text-gray-200">Orders</a>
      <a routerLink="/products" class="mr-6 text-xl text-gray-200">Products</a>
      <div class="flex justify-between">
        <a routerLink="/checkout" class="text-gray-200">
          <span
            class="flex items-center gap-2 right-0 ml-auto text-lg font-bold -top-1 text-gray-200"
          >
            {{ productsCount() }}
            <img
              src="../../../assets/svgs/cart.svg"
              alt="Cart"
              class="w-6 h-6 hover:opacity-80"
            />
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
